*{
    margin: 0%;
    padding: 0%;
}

/* Header */

header{
    width: 100%;
    height: 5em;
    background-color: darkcyan;
}

/* Nav */

nav {
    display: flex;
    justify-content: left;
    height: 3em;
    background-color: darkcyan;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: inline-block;
    position: relative;
    margin-left: 2em;
}

nav a {
    background-color: black;
    color: white;
    padding: 0.9em;
    font-size: 1.5em;
}
*{
    margin: 0;
    padding: 0;
}
article{
background-color: aquamarine;
width: 100%;
height: 600px;
}
button{
text-decoration: none;
padding: 20px;
font-family: arial;
text-transform: uppercase;
padding-left: 10px;
padding-right: 10px;
font-weight: 800;
font-size: 15px;
color: black;
background-color: #9b0e0e00;
margin-left: 4em;
margin-top: 33em;

}
button:hover{
color: #ffffff;
background-color: #0000001c;
text-decoration: none;
}
mark{
    background-color: rgba(127, 255, 212, 0);
    color: rgb(72, 72, 240);
    font-weight: 800;
    
}
a{
    text-decoration: none;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: cadetblue;
    width: 100%;
    height: 100px;
    display:flex ;
    justify-content: center;
}