*{margin:0;padding:0;box-sizing:border-box;font-size:0;}
  



nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    
    
    
    } 
    nav li{
    display:inline-block;
    width: 8%;
    height: 45px;
    
    margin-top: 54.5px;
    


    padding:5px 10px;
    background-color:#88c99d;
    border:1px solid #000;
    
    color: black;
    text-align: center;
    
    

    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    
    
    }